

<div class="card-container">
  <% @cocktails.each do |cocktail| %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cocktail.picture_url %>);">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2>
      </div>
  <% end %>
</div>


